.create-order{
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;

    background-color: var(--test-color);
}

.checkout-form-button{
    border: none;
    border-radius: 15px;
    width: 150px;
    height: 30px;

    color: var(--info-color);
    background-color: var(--dark-color);
}
.checkout-form-button:hover{
    background-color: var(--third-color);
    cursor: pointer;
}

.stripe-form {
    width: 30%;
    height: 40%;

    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 50px;

    border-radius: 15px;
    background: linear-gradient(38deg, rgba(54,79,104,1) 0%, rgba(95,93,156,1) 53%, rgba(63,193,201,1) 100%);
  }